@import 'bootstrap-sass/assets/stylesheets/_bootstrap.scss';

/*
 * Globals
 */
body {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #555;
    font-size: 1.8em;
}

.right .github-fork-ribbon {
    background-color: #333;
}

h1{
    padding-top: 40px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: normal;
    color: #333;
    margin-top: 1.8em;
}

p{
    padding: 0.4em 0.2em;
}

#credits + ul {
    margin: 0;
    padding: 0;

    li{
        margin: 0;
        padding: 0;
        list-style: none;
        
        a{
            img{
                max-width: 100px;
                border-radius: 50%;
                border: 4px solid #FFF;
                box-shadow: 2px 2px 0 rgba(0,0,0,0.4);
            }   
        }
    }
}


/*
 * Override Bootstrap's default container.
 */
@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

#asciicast-container-bzuj6ef4b3qqbp0lf1ti0mflj{
    text-align: center;
}

.canvas{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
    canvas[resize]{
        width: 100%;
        height: 100%;
    }
}

.container > div > div{
    padding: 0 40px;
    background-color: rgba(255,255,255,0.9);
}

p img{
    width: 100%;
}


.cmds{
    position: relative;
    margin: 50px 30px;
    background: #EFEFEF;
    padding: 30px;
    overflow: hidden;

    pre{
        background: none;
        border: none;
        display: inline-block;
        font-size: 2.8vw;
        height: 100px;
        line-height: 100px;
        padding: 0 10px;
    }
}

pre code{
    white-space: pre;
}

.cmds ol{
    margin: 0;
    padding: 0;
    display: inline-block;

    li{
        display: none;
        position: absolute;
        top: 40px;
        width: 100%;

        div{
            opacity: 0;
            transition: all 2s ease-in;
            -webkit-transition: opacity 500ms ease-out 1s;
            -moz-transition: opacity 500ms ease-out 1s;
            -o-transition: opacity 500ms ease-out 1s;
            transition: opacity 500ms ease-out 1s;
            position: absolute;
            top: 60px;
            font-size: 3vw;
        }

        pre{
            margin-top: 10px;
            display: inline-block;
            width: 100%;
            margin: 0;
            line-height: 80px;
        }

        &.active{
            display: inline-block;
            div{
                opacity: 1;
            }
            pre{
                white-space:nowrap;
                overflow:hidden;
                -webkit-animation: type 1s steps(50, end);
                animation: type 1s steps(50, end);       
            }
        }
    }    

    div{
        margin-left: 10px;
        margin-top: -10px;
    }
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}