
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description}}">
    <meta name="author" content="Monera">
    <!-- @Todo Create favicon once we have a logo ^_^' -->
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>Monera - Containerised swissknife for web developers</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css" />
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.min.css" />
    <![endif]-->
    <link  href="/index.css" media="screen" rel="stylesheet" type="text/css"/>
  </head>

  <body>
    <div class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
            <a href="https://github.com/Ideabile/monera">Fork me on GitHub</a>
        </div>
    </div>
    <div class="container">
