
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description}}">
    <meta name="author" content="Monera">
    <!-- @Todo Create favicon once we have a logo ^_^' -->
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>{{ title }} - {{ description}}</title>
    <link  href="{{url}}css/index.css" media="screen" rel="stylesheet" type="text/css"/>
  </head>

  <body>

    <div class="container">
